$c-primary_dark: #2451b5;
$c-primary: #5F85DB;
$c-primary_variant: #90B8F8;
$c-green: #6ECE84;
$c-yellow: #FFFF88;
$c-red: #FF5B5B;

$bg-default: #edf2f9;
$bg-light: #f9fafd;

// tons de branco
$c-white: #FFFFFF;
$c-white-85: rgba(255, 255, 255, 0.85);
$c-white-60: rgba(255, 255, 255, 0.60);

// tons de cinza
$c-gray-1: #454A54;
$c-gray-2: #353941; 
$c-gray-3: #2E3137;
$c-gray-4: #26282B;

$c-black: #000